@model ManualAuth.Models.Medicine

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h5>Medicine</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Day" class="control-label"></label>
                    <input asp-for="Day" class="form-control" />
                    <span asp-validation-for="Day" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Time: hours
                    <input asp-for="HourOfTaking" class="form-control" />
                    <span asp-validation-for="HourOfTaking" class="text-danger"></span>
                </div>
                <div class="form-group">
                    Time: minutes
                    <input asp-for="MinuteOfTaking" class="form-control" />
                    <span asp-validation-for="MinuteOfTaking" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
