@model ManualAuth.Models.Glucose

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Glucose</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Date and time
                <input asp-for="GlucoseDateTime" class="form-control" />
                <span asp-validation-for="GlucoseDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                Glucose level
                <input asp-for="GlucoseValue" class="form-control" />
                <span asp-validation-for="GlucoseValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
